<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./clients.css">
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <title>clients</title>
</head>
<body>
   <div class="clients-bacground" >
        <section class="clients-feedback">
            <p class="feedback-title">What our clients say</p>
            <p class="feedback-description">See what our customer say about us. It really matter for us. How good or bad
                we will make ir for evaluation to make EhyalLive better.</p>
            <img class="clients-elipse_bottom" src="../../../assets/icons/elipse/clients/Ellipse 8.svg" alt="">
            <ul class="clients-experience">
                <li class="experience">
                    <p class="star"><span class="star-gold">starstar</span>star</p>
                    <p class="experience-description">“I know in real-time where the money is spent,and
                        I don’t have to lend out the company’s credit card
                        anymore. What a relief!”</p>
                    <div class="user-name">
                        <img class="user-img" src="../../../assets/icons/clients/girl1.svg" alt="">
                        <span>Denny Hilguston<p class="user-name-colour">@denny.hill</p></span>
                    </div>
        
                </li>
                <li class="experience">
                    <p class="star"><span class="star-gold">starstar</span>star</p>
                    <p class="experience-description">VISUALS are much better. The improvements in optics and resolution and
                        much more than a modern console
                        generation leap.”</p>
        
                    <div class="user-name">
                        <img class="user-img" src="../../../assets/icons/clients/girl2.svg" alt="">
        
                        <span>Vani Pandey<p class="user-name-colour">@vani.pandey</p></span>
                    </div>
                </li>
                <li class="experience">
                    <p class="star"><span class="star-gold">starstar</span>star</p>
                    <p class="experience-description">I can actually see the improvement in the graphics, not having the
                        external sensors is a big plus.</p>
                    <div class="user-name">
                        <img class="user-img" src="../../../assets/icons/clients/girl3.svg" alt="">
                        <span>Milly Singh<p class="user-name-colour">@milly.singh</p></span>
                    </div>
                </li>
            </ul>
        </section>
   </div>
 

</body>
</html>