Form{
    max-width: 350px;
    background-color:rgb(243, 240, 240);
    padding: 5px 50px 5px 50px;
    margin-left: auto;
    margin-right: auto;
}
.Form-content{
    text-align: center;
}
.button{
    background-color: blue;
    width: 80%;
    color: aliceblue;
    border: none;
    padding: 5px 5px;
    transition-property:background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    cursor: pointer;
}
.window{
    width: 80%;
    transition-property:all;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}
.textarea{
    width: 80%;
}
.button:hover{
    background-color:black;
}
.window:focus{
    background-color: aqua;
}
