<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Orbitron:wght@700&display=swap"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Orbitron:wght@700&family=Oswald&display=swap"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&family=Orbitron:wght@700&family=Oswald&display=swap"
        rel="stylesheet">
    <title>footer</title>
</head>
<body>
     <section class="foooter-background" >
              <div class="footer">
                <form action="" class="footer-email-form">
                  <h3 class="email-form-title">Explore product in <br> new way <img src="../../../assets/icons/footer/arrow.svg"
                      alt="">
                  </h3>
                  <p class="email-form-description">We specialize in creating visual identities for products and branda in your
                    company.
                  </p>
                  <input class="email-input" type="email" placeholder="Your Email">
                  <button class="email-btn">Start <img src="../../../assets/icons/footer/start.svg" alt=""></button>
                </form>
                <img class="footer-hands-img" src="../../../assets/images/footer/hands.png" alt="">
              </div>
     </section>
   
</body>
</html>

