<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./item_page.css">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter:wght@400;700&family=Mulish:wght@600;800&family=Orbitron:wght@600;700&family=Oswald&display=swap"
        rel="stylesheet">
    <title>item_page</title>
</head>
<body>
        <div class="item_page">
            <div class="item_page-header">
                <p class="item_page-word">Light</p>
                <img class="item_page-lines" src="../../assets/icons/Sign_in/lines_header.svg" alt="">
            </div>
            <div class="content" >
                <img class="item_page-elipse_top" src="../../assets/icons/elipse/item_page/top.svg" alt="">
                <img class="item_page-img" src="../../assets/images/item_page/man.png" alt="">
                <img class="item_page-elipse_left" src="../../assets/icons/elipse/item_page/left.svg" alt="">
                <img class="item_page-elipse_right" src="../../assets/icons/elipse/item_page/rigth.svg" alt="">
                <p class="item_page-title">Metaverse</p>
                <p class="item_page-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum qui omnis
                    dolorum vitae facilis nisi quibusdam
                    voluptate optio iusto dolorem, reprehenderit id, quisquam eveniet suscipit exercitationem. Pariatur, sunt quos?</p>
            </div>       
        </div>
</body>
</html>
