
.hero-content{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
    color: #fff;
    max-width: 854px;
    padding-left: 58px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
}
.hero-users{
    display: flex;
}
.hero-buttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 25px;
    cursor: pointer;
    align-items: center;
}
.hero-explore_title{
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 31.6914px;
    line-height: 43px;
    max-width: 333px;
    max-height: 130px;
}
.hero-explore-description{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 312px;
    max-height: 45px;
}
.hero-btn_get-it{
    padding: 10px 24px;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 3.33594px;
}
.hero-point{
    margin-left: 5px;
    margin-top: 8px;
}
/*блок Cinematic Virtual Reality*/
.hero-girl{
    position: relative;
    display: flex;
    justify-content: center;
    
}
 .hero-text{
   position: absolute;
   bottom: 75px;
   display: flex;
   flex-direction: column;
 
  }

.hero-girl_title{
    max-width: 100%;
    font-weight: 800;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.hero-line {
    background-color: #FFF;
    width: 150px;
    height: 1px;
    margin-bottom: 25px;
}
.hero-girl_description{
    max-width: 200px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
}
.hero-user1{
    margin-left: -11px;
    max-width: 32px;
}
.hero-user2{
    margin-left: -11px;
    max-width: 32px;
}
.hero-user3{
    margin-left: -11px;
    max-width: 32px;
}
.hero-user4{
   margin-left: -11px;
   max-width: 32px;
}
