<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <link rel="stylesheet" href="./hero.css">
    <title>Hero</title>
</head>
<body>
      <!--блок Let’s Explore Three-Dimensional visual-->
      <section class="hero-content" >
            <div class="hero-exploration">
                <h2 class="hero-explore_title">Let’s Explore Three-Dimensional visual</h2>
                <p class="hero-explore-description">With virtual technology you can see the digital world feel more real and you can
                    play the game with a new style.</p>
                <ul class="hero-buttons">
                    <li><button class="hero-btn_get-it">Get it Now</button></li>
                    <li><button class="hero-btn_explore">Explore Device</button></li>
                </ul>
                <ul class="hero-users">
                    <li>
                        <img class="hero-user1" src="../../../assets/icons/hero/Ellipse 1.svg" alt="">
                    </li>
                    <li>
                        <img class="hero-user2"  src="../../../assets/icons/hero/Ellipse 2.svg" alt="">
                    </li>
                    <li>
                        <img class="hero-user3"src="../../../assets/icons/hero/Ellipse 3.svg" alt="">
                    </li>
                    <li>
                        <img class="hero-user4"src="../../../assets/icons/hero/Ellipse 4.svg" alt="">
                    </li>
                    <li class="hero-point">
                        <img src="../../../assets/icons/hero/point.svg" alt=""> <span>400k people online</span>
                    </li>
                </ul>
            </div>
            <!--блок Cinematic Virtual Reality-->
             <div class="hero-girl">
                <img class="hero-girl_img" src="../../../assets/images/hero/girl.png" alt="">
                <div class="hero-text" >
                    <p class="hero-girl_title">Cinematic Virtual Reality</p>
                    <hr class="hero-line">
                    <p class="hero-girl_description">Let’s be the best for more real and effective results and ready
                        to explore the limitless world that we have prepared for you.</p>
                </div>
            </div>
      </section>
      
</body>
</html>