<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./adding_card.css">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter:wght@400;700&family=Mulish:wght@600;800&family=Orbitron:wght@600;700&family=Oswald&display=swap"
        rel="stylesheet">
    <title>adding_card</title>
</head>
<body>
    <!-- <div class="adding-card-background" >
                <img class="background-img"  src="../../../src/assets/icons/adding_card/background.png" alt="">
                <p class="background-title">Realities cards</p>
            </div> -->
    <section class="adding-card" >
        <div class="sign_in-header">
            <p class="header-word">Light</p>
            <img class="header-lines" src="../../assets/icons/Sign_in/lines_header.svg" alt="">
        </div>
        <div class="new_card" >
            <p class="new_card-title">Add new card</p>
            <input class="input-name" type="text" placeholder="Card name" id="inputName" >
            <input class="input-description" type="text" placeholder="Card description" id="inputDescription">
            <input class="input-img_name" type="text" placeholder="Card image name" id="inputImgName" >
            <button class="btn_add" id="buttonAdd" >Add</button>
        </div>
    </section>
    <script src="../JavaScript/addingCard.js"></script>    
</body>
</html>