<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cards.css">
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Orbitron:wght@600;900&display=swap"
        rel="stylesheet">
    <title>Cards</title>
</head>
<body>  
       
    <section class="cards-block" >
         <!--Awesome experience-->
        <div class="awesome-content" >
            <img class="awesome-background" src="../../../assets/icons/cards/background.svg" alt="">
            <img class="awesome-play" src="../../../assets/icons/cards/play.svg" alt="">
            <p class="awesome-title" >Awesome experiences with <br> virtual reality world</p>
        </div>
        <!--сортування-->
        <section class="cards-sorting">
            <p class="cards-sorting-title">Mixed Reality Headsets</p>
            <div class="cards-selector">
                <img class="sorting-arrow" src="../../../assets/icons/cards/bottom_arrow.svg" alt="">
                <select name="sort">
                    <option value="New first">New First</option>
                    <option value="New last">New Last</option>
                </select>
            </div>
        </section>
        <!--блок з картками-->
        <ul class="cards">
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
        </ul>
        <!--z-index-->
        <img class="cards-elipse" src="../../../assets/icons/elipse/cards/Ellipse 18.svg" alt="">
        <!--блок з номерами сторінок-->
        
        <ul class="cards-pages">
            <li class="cards-pages_arrow-left"><img src="../../../assets/icons/cards/left_arrow.svg" alt=""></li>
            <li class="cards-pages_item">1</li>
            <li class="cards-pages_item"><span>2</span></li>
            <li class="cards-pages_item">...</li>
            <li class="cards-pages_item">9</li>
            <li class="cards-pages_item">10</li>
            <li class="cards-pages_arrow-rigth"><img src="../../../assets/icons/cards/right_arrow.svg" alt=""></li>
        </ul>
    </section>
        

</body>
</html>