<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./company.css">
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Orbitron:wght@700&display=swap"
        rel="stylesheet">
    <title>company</title>
</head>
<body>

    <section class="company" >
        <div class="company-promo">
                <img class="company-elips_left" src="../../../assets/icons/elipse/company/left.svg" alt="">
                <p class="company-title">Our company values <br> culture <img class="company-hearts" src="../../../assets/icons/company/two_hearts.svg" alt="two_hearts">    </p>
                <p class="company-description">
                    We specialize in creating visual identities for products and branda in your company.
                </p>
            </div>
                      
                    <ul class="company-features">
                        <li class="feature-example">
                            <img class="feature-logo" src="../../../assets/icons/company/be_sincere.svg" alt="">
                            <p class="feature-title">Be Sincere</p>
                        </li>
                        <li class="feature-example">
                            <img class="feature-logo" src="../../../assets/icons/company/stronger_together.svg" alt="">
                            <p class="feature-title">Stronger together</p>
                        </li>
                        <li class="feature-example">
                            <img class="feature-logo" src="../../../assets/icons/company/keep_it_simple.svg" alt="">
                            <p class="feature-title">Keep it simple</p>
                        </li>
                        <li class="feature-example">
                            <img class="feature-logo" src="../../../assets/icons/company/take_risks.svg" alt="">
                            <p class="feature-title">Take intelligent risks</p>
                        </li>
                    </ul>
                
    </section>

</body>
</html>



