
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Orbitron:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Orbitron:wght@700&family=Oswald&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&family=Orbitron:wght@700&family=Oswald&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
</head>
<body>
      <section class="header">
         <div>
            <p class="header-light" >Light</p>
         </div> 
         <img class="header-elipse" src="../../../assets/icons/elipse/header/Ellipse 8.svg" alt="elipse">
         <nav class="header-menu-nav" >
             <ul class="header-menu">
                  <li class="header-btn"><a href="#Home">Home</a></li>
                  <li class="header-btn"><a href="#Company">Company</a></li>
                  <li class="header-btn"><a href="#Features">Features</a></li>
                  <li class="header-btn-sing_in" id="headerSingInBtn" >
                  <button>Sign in</button>
                </li>
             </ul>
        </nav>
      </section>

      <div class="header-adaptiv">
        <p class="header-word">Light</p>
        <div class="header-burger-menu" >
            <button id="burgerMenu" >
                <img class="header-lines" src="../assets/icons/header/lines_header.svg" alt="">
            </button>
            <div id="burgerMenuList" class="header-burger-menu-list">
            <ul>
                <li><img src="../assets/icons/header/Ellipse 5.svg" alt=""></li>
                <li class="header-adaptiv-btn">Home</li>
                <li class="header-adaptiv-btn">Company</li>
                <li class="header-adaptiv-btn">Features</li>
            </ul>
            <button id="burgerMenuClose" class="header-burger-menu-close">
                &times;
            </button>
            </div>
        </div>
      </div>

    <section class="hero-content">
        <div class="hero-exploration">
            <h2 class="hero-explore_title">Let’s Explore Three-Dimensional visual</h2>
            <p class="hero-explore-description">With virtual technology you can see the digital world feel more real and you
                can
                play the game with a new style.</p>
            <ul class="hero-buttons">
                <li><button class="hero-btn_get-it" id="heroButtonGetIt" >Get it Now</button></li>
                <li><button class="hero-btn_explore" id="heroButtonExplore" >Explore Device</button></li>
            </ul>
            <ul class="hero-users">
                <li>
                    <img class="hero-user1" src="../../../assets/icons/hero/Ellipse 1.svg" alt="">
                </li>
                <li>
                    <img class="hero-user2" src="../../../assets/icons/hero/Ellipse 2.svg" alt="">
                </li>
                <li>
                    <img class="hero-user3" src="../../../assets/icons/hero/Ellipse 3.svg" alt="">
                </li>
                <li>
                    <img class="hero-user4" src="../../../assets/icons/hero/Ellipse 4.svg" alt="">
                </li>
                <li class="hero-point">
                    <img class="hero-point_size" src="../../../assets/icons/hero/point.svg" alt=""> <span class="hero-users-400k" >400k people online</span>
                </li>
            </ul>
        </div>
        <div class="hero-girl">
            <img class="hero-girl_img" src="../../../assets/images/hero/girl.png" alt="">
            <div class="hero-text">
                <p class="hero-girl_title">Cinematic Virtual Reality</p>
                <hr class="hero-line">
                <p class="hero-girl_description">Let’s be the best for more real and effective results and ready
                    to explore the limitless world that we have prepared for you.</p>
            </div>
        </div>
    </section>
    
    <section class="experience-content-photo">
        <div class="experience-photos">
            <img class="photo-girl" src="../../../assets/images/new_experience/girl.png" alt="girl">
            <img class="photo-boy" src="../../../assets/images/new_experience/boy.png" alt="boy">
        </div>
        <div class="experience-content-text">
            <p class="content-text-title">New Experience In Playing Game</p>
            <p class="content-text-experience">
                You can try playing the game with a new style and of course a more real
                feel, like you are the main character in your game and adventure in this
                new digital world.
            </p>
            <button class="content-btn-get" id="contentButtonGetItNow" >Get it now</button>
        </div>
    </section> 

  

     <section class="cards-block">
        
        <div class="awesome-content">
            <img class="awesome-background" src="../../../assets/icons/cards/background.svg" alt="">
            <div class="internal-content" >
                <p class="awesome-title">Awesome experiences with virtual reality world</p>
                <img class="awesome-play" src="../../../assets/icons/cards/play.svg" alt="">
            </div>
        </div>
       
        <section class="cards-sorting">
            <p class="cards-sorting-title">Mixed Reality Headsets</p>
            <div class="cards-selector">
                <img class="sorting-arrow" src="../../../assets/icons/cards/bottom_arrow.svg" alt="">
                <select name="sort" id="cardSorting" >
                    <option value="New first">New First</option>
                    <option value="New last">New Last</option>
                </select>
            </div>
        </section>
       
        <ul class="cards">
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card-adaptiv">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card-adaptiv">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li>
            <li class="card-adaptiv">
                <img class="cards-img-man" src="../../../assets/images/Cards/man.png" alt="">
                <img class="cards-img-background" src="../../../assets/images/Cards/background.png" alt="">
                <p class="cards-title">Metaverse</p>
                <p class="cards-description">A Network of 3D virtual worlds focused on social connection.</p>
            </li> 
        </ul>
        
        <img class="cards-elipse" src="../../../assets/icons/elipse/cards/Ellipse 18.svg" alt="">
       
    
        <ul class="cards-pages">
            <li class="cards-pages_arrow-left"><img src="../../../assets/icons/cards/left_arrow.svg" alt=""></li>
            <li class="cards-pages_item">1</li>
            <li class="cards-pages_item"><span>2</span></li>
            <li class="cards-pages_item">...</li>
            <li class="cards-pages_item">9</li>
            <li class="cards-pages_item">10</li>
            <li class="cards-pages_arrow-rigth"><img src="../../../assets/icons/cards/right_arrow.svg" alt=""></li>
        </ul>
    </section>
     <section class="clients-bacground" >
                <div class="clients-feedback">
                    <p class="feedback-title">What our clients say</p>
                    <p class="feedback-description">See what our customer say about us. It really matter for us. How good or bad
                        we will make ir for evaluation to make EhyalLive better.</p>
                    <img class="clients-elipse_bottom" src="../../../assets/icons/elipse/clients/Ellipse 8.svg" alt="">
                    <div class="clients-experience">
                        <div class="experience">
                            <img class="clients-arrow_left" src="../assets/icons/clients/arrow_left.svg" alt="">
                            <img class="clients-arrow_right" src="../assets/icons/clients/arrow_right.svg" alt="">
                            <p class="star"><span class="star-gold">starstar</span>star</p>
                            <p class="experience-description">“I know in real-time where the money is spent,and
                                I don’t have to lend out the company’s credit card
                                anymore. What a relief!”</p>
                            <div class="user-name">
                                <img class="user-img" src="../../../assets/icons/clients/girl1.svg" alt="">
                                <span>Denny Hilguston<p class="user-name-colour">@denny.hill</p></span>
                            </div>
                        </div>
                         <div class="experience-adaptiv">
                            <p class="star"><span class="star-gold">starstar</span>star</p>
                            <p class="experience-description">VISUALS are much better. The improvements in optics and resolution and
                                much more than a modern console
                                generation leap.”</p>
                
                            <div class="user-name">
                                <img class="user-img" src="../../../assets/icons/clients/girl2.svg" alt="">
                
                                <span>Vani Pandey<p class="user-name-colour">@vani.pandey</p></span>
                            </div>
                        </div>
                        <div class="experience-adaptiv">
                            <p class="star"><span class="star-gold">starstar</span>star</p>
                            <p class="experience-description">I can actually see the improvement in the graphics, not having the
                                external sensors is a big plus.</p>
                            <div class="user-name">
                                <img class="user-img" src="../../../assets/icons/clients/girl3.svg" alt="">
                                <span>Milly Singh<p class="user-name-colour">@milly.singh</p></span>
                            </div>
                        </div> 
                    </div>
                </div>
     </section>        
  
     <section class="company">
        <div class="company-promo">
            <img class="company-elips_left" src="../../../assets/icons/elipse/company/left.svg" alt="">
            <p class="company-title">Our company values culture <img class="company-hearts"
                    src="../../../assets/icons/company/two_hearts.svg" alt="two_hearts"> </p>
            <p class="company-description">
                We specialize in creating visual identities for products and branda in your company.
            </p>
        </div>
    
        <ul class="company-features">
            <li class="feature-example">
                <img class="feature-logo" src="../../../assets/icons/company/be_sincere.svg" alt="">
                <p class="feature-title">Be Sincere</p>
            </li>
            <li class="feature-example">
                <img class="feature-logo" src="../../../assets/icons/company/stronger_together.svg" alt="">
                <p class="feature-title">Stronger together</p>
            </li>
            <li class="feature-example">
                <img class="feature-logo" src="../../../assets/icons/company/keep_it_simple.svg" alt="">
                <p class="feature-title">Keep it simple</p>
            </li>
            <li class="feature-example">
                <img class="feature-logo" src="../../../assets/icons/company/take_risks.svg" alt="">
                <p class="feature-title">Take intelligent risks</p>
            </li>
        </ul>
    </section> 


    
    <section class="foooter-background">
        <div class="footer">
                <form action="" class="footer-email-form">
                    <h3 class="email-form-title">Explore product in new way
                        <img class="footer-arrow" src="../../../assets/icons/footer/arrow.svg" alt="">
                    </h3>
                    <p class="email-form-description">We specialize in creating visual identities for products and branda in your
                        company.
                    </p>
                    <input class="email-input" type="email" placeholder="Your Email" id="emailInput" >
                    <button class="email-btn" id="emailButtonStart" >Start <img class="email-btn-icon" src="../../../assets/icons/footer/start.svg"
                    ></button>
                </form>
                <img class="footer-hands-img" src="../../../assets/images/footer/hands.png" alt="">
        </div>
    </section>
  <!-- Бургер меню для header розширенням 575px     -->
 <script src="./JavaScript/headerBurgerMenu.js" ></script>
  <!-- Підкреслення активного посилання в хедері -->
  <script src="./JavaScript/headerActiveWord.js" ></script>
  <!-- Виводить інформацію при натисканні на кнопку -->
  <script src="./JavaScript/btnInfo.JS" ></script>
   <!-- Зберігає тип сортування в створенній змінній -->
   <script src="./JavaScript/selector.js"></script>
   <!-- Відправляє Email введений в input у футері -->
   <script src="./JavaScript/footerEmail.js"></script>
</body>
</html>