<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Orbitron:wght@700&display=swap"
        rel="stylesheet">
    <title>Header</title>
</head>
<body>
        <section class="header" >
            <div>
                <p>Light</p>
            </div>
            <img class="header-elipse" src="../../../assets/icons/elipse/header/Ellipse 8.svg" alt="elipse">
            <nav>
                <ul class="header-menu">
                    <li class="header-btn"><a href="#Home">Home</a></li>
                    <li class="header-btn"><a href="#Company">Company</a></li>
                    <li class="header-btn"><a href="#Features">Features</a></li>
                    <li class="header-btn-sing_in">
                        <button>Sign in</button>
                    </li>
                </ul>
            </nav>
        </section>
        <script src="../header/header.js" type="module"></script>    
</body>
</html>
