.Photo1{grid-area: Photo1;}
.Photo2{grid-area:Photo2;}
.Photo3{grid-area:Photo3;}
.Photo4{grid-area:Photo4;}
.Photo5 {grid-area: Photo5;}
.grid-box{

}
.Photo1{
}
.Photo2{

}
.Photo3{}

.Photo4{

}
.Photo5{

}