<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sign_in_page.css">
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter:wght@400;700&family=Mulish:wght@600;800&family=Orbitron:wght@600;700&family=Oswald&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">
    <title>sign_in_page</title>
</head>
<body>  
    
    <section class="form-sign_in" >
            <div class="sign_in-header">
                <p class="header-word">Light</p>
                <img class="header-lines" src="../../assets/icons/Sign_in/lines_header.svg" alt="">
            </div>
                <div class="form">
                    <p class="form-title">Sign in</p>
                    <input class="form-input-email" type="text" placeholder="Email or username" id="formInputEmail" >
                    <input class="form-input-password" type="password" placeholder="Password" id="formInputPassword" >
                    <button class="form-btn-sign_in" id="formButtonSignIn" >Sign in</button>
                </div>
                <script src="../JavaScript/formSignIn.js"></script>
    </section>
</body>
</html>
