
.experience-content-photo{
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 350px;
    background-color: #010208;
    color: #FFFF;
    max-width: 854px;
    padding-left: 58px;
    padding-right: 81px;
    margin-left: auto;
    margin-right: auto;
}
.experience-photos{
    display: flex;
    position: relative;
    gap: 18px;
}
.photo-boy{
    align-self: flex-end;
}
.photo-girl{
    align-self: flex-start;
}
.experience-content-text{
    align-self: flex-end;
    max-width: 220px;
}
.content-text-title{
    font-weight: 900;
    font-size: 20.8496px;
    line-height: 33px;
    margin-bottom: 20px;
}
.content-text-experience{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 22px;
}
.content-btn-get{
    padding: 10px 24px;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    border-radius: 3.33594px;
}
