<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_experience</title>
    <link rel="stylesheet" href="../../../assets/styles/reset.css">
    <link rel="stylesheet" href="./new_experience.css">
</head>
<body>
    <section class="experience-content-photo">
        <div class="experience-photos" >
            <img class="photo-girl" src="../../../assets/images/new_experience/girl.png" alt="girl">
            <img class="photo-boy" src="../../../assets/images/new_experience/boy.png" alt="boy">
        </div>
        <div class="experience-content-text" >
            <p class="content-text-title" >New Experience In Playing Game</p>
            <p class="content-text-experience" >
                You can try playing the game with a
                new style and of course a more real
                feel, like you are the main character
                in your game and adventure in this
                new digital world.
            </p>
            <button class="content-btn-get" >Get it now</button>
        </div>
    </section>
</body>
</html>  